.root {
  flex-grow: 1;
  padding-bottom: 70px;
}

.grow {
  flex-grow: 1;
}

.toolbar .loginRegister .button {
  color: #ffffff;
}

.icone {
  max-width: 40px;
  max-height: 40px;
}

.searchIcon {
  height: 100%;
  display: block;
  margin: 0 auto;
  margin-left: 50px;
}

.search {
  box-sizing: content-box;
  margin: 0 auto;
  margin-left: 10px;
  width: 300px;
  border-radius: 4px;
  color: inherit;
  background-color: whitesmoke;
  background-image: transparent;
}

.inputRoot {
  color: inherit;
  width: 100%;
}

.inputInput {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
}
